.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
  margin-top: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-nav{
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  background-color: #000000;
}
#navbar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 200%;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #5CDC0D;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  margin: 5px;
}

.formSignUp{
  position: absolute;
    top: 50%;
    left: 52%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(#bdc3c7);
    /* background-color: gray; */
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(#bdc3c7);
    border-radius: 10px;
  }
  
  .formSignUp input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .formSignUp h2 {
    color: #5CDC0D;
  }

  .formSignUp button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    color: #5CDC0D;
  }


.formLogin{
  position: absolute;
    top: 50%;
    left: 52%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(#bdc3c7);
    /* background-color: gray; */
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(#bdc3c7);
    border-radius: 10px;
    margin-top: 0px;
  }
  
  .formLogin input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .formLogin h2 {
    color: #5CDC0D;
  }
  .formLogin a {
    text-decoration: none;
    color: #5CDC0D;
  }

  .formLogin button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    color: #5CDC0D;
  }

.container-home {
  top: 75%;
  width: 100%;
}

.game-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.confetti-wrap {
     padding: 20px;
}

.clef{
  padding: 20px;
  width: 30%;
  border-radius: 15px;
  /* border: 2px solid #5CDC0D; */
  background-color: #5CDC0D;
  color: black;

}


  
  